@media (max-width: 1024px) {
  .section {
    margin: 10px;
  }
  /* Xây dựng phần ảnh Banner */
  .banner {
    height: 300px;
  }

  .banner-title {
    font-size: 24px;
  }

  /* Xây dựng Navbar */
  .topnav > * {
    padding: 0 10px;
  }
  #nav-info {
    display: none;
  }

  /* Xây dựng Thông tin cá nhân */
  .container-grid-ti {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
  }

  .section-content {
    padding: 20px;
  }

  /* Xây dựng phần Thông tin nghề nghiệp */
  .person-info {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px;
  }

  /* Phần Chứng chỉ - Giải thưởng */
  .certificate-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .certificate {
    margin: 0;
    margin-left: 30px;
  }

  .certificate-content img {
    width: 100%; /* Đảm bảo ảnh không bị tràn */
    height: auto; /* Giữ tỷ lệ ảnh */
  }

  .card {
    flex-direction: column;
  }

  /* Xây dựng phần Dự án */
  .project-container {
    margin: 10px 100px;
  }

  .section-project-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .section-project-content .project {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .project-tittle {
    font-size: 16px;
  }

  .sub-tittle {
    font-size: 14px;
  }
}

.project img {
  width: 100%; /* Đảm bảo ảnh không bị tràn */
  height: auto; /* Giữ tỷ lệ ảnh */
}

/* Footer Container */
.footer-content {
  flex-direction: column;
  gap: 20px;
}
